/* https://stackoverflow.com/a/8014032 */
a,
a:visited,
a:hover,
a:active,
a:link {
    color: inherit;
}

pre {
    margin: 0;
}

#windows_10_ascii_color {
    color: #56b6c2;
}

/* https://medium.com/coding-beauty/html-line-break-no-br-326732938a74 */
/* make this opt-in, because any newline, even as a prefix to align the node better, gets rendered too */
.pre_dowrap {
    white-space: pre-wrap;
}