:root {
    /* TODO: we re-encode in AVIF later! */
    --img_button_active_webp: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/Button_Red.webp");
    --const_img_bg_size: 100% 100%;
}

/* TODO: this is only for experimenting for radios as replacements for our fragment identifier abuse */
body:has(#cardradio_all:checked) #cardentry_all {
    display: grid;
}

body:has(#cardradio_mains:checked) #cardentry_mains {
    display: grid;
}

body:has(#cardradio_cultists:checked) #cardentry_cultists {
    display: grid;
}

body:has(#cardradio_test4:checked) #cardentry_test4 {
    display: grid;
}

/* TODO: this is only for experimenting for radios as replacements for our fragment identifier abuse */
