/* TODO: split this into multiple stylesheets! */
/* good candidate would be the hack at the bottom of this file */

/* https://stackoverflow.com/a/3245187 */
@font-face {
    font-family: "OpenDyslexic3 Regular";
    src: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/fonts/OpenDyslexic3/OpenDyslexic3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenDyslexic3 Bold";
    src: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/fonts/OpenDyslexic3/OpenDyslexic3-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: "OpenDyslexic3 Regular", sans-serif;
}

/* https://forum.freecodecamp.org/t/css-margin-and-padding-problem/421309/10 */
body {
    margin: inherit;
    padding: inherit;
    box-sizing: inherit;
}

/* Copied straight from chellenge */
a,
a:visited,
a:hover,
a:active,
a:link {
    color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
code,
samp,
th,
td,
tr {
    color: #f1edd9
}


/* dev.to/mnishiguchi/css-adding-margin-to-all-children-929 */
/*#pre_card > * {
    margin: 0;
}*/

/* FIXME: only for testing! */
/* Hunt for https://static.wikia.nocookie.net/cult-of-the-lamb/images/0/08/Site-background-dark/revision/latest?cb=20250112140801, but a lossless source! */
/* TODO: put a fadeout on the edges */
/* TODO: make the image flush to the edges */
/* https://stackoverflow.com/a/46898484, https://stackoverflow.com/a/18588879 */
/* vh is apparently inaccurate on mobile browsers, from https://ilxanlar.medium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487, through https://readmedium.com/you-shouldnt-rely-on-css-100vh-and-here-s-why-1b4721e74487 */
/* https://stackoverflow.com/a/72245072, https://caniuse.com/?search=dvh */
/* https://stackoverflow.com/questions/57359223/how-to-detect-if-webp-images-are-supported-via-css */
#pre_card {
    margin: 0;
    padding: 0;
    width: 100%;
    /* FALLBACK, will look wrong on mobile! */
    height: 100vh;

    @supports (height: 100svh) {
        height: 100svh;
    }

    /* background-image: url("../img/original_lossless/woolhaven-bg-poster.png"); */
    /* FIXME: NOT FINISHED! */
    /* we only bother for AVIF! we assume WebP as the minimum supported image format */
    @supports (background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/avif/woolhaven-bg-poster.avif")) {
        background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/avif/woolhaven-bg-poster.avif")
    }

    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Not sure why we need to set height twice, but i'm too lazy to think ever again */
/* https://css-tricks.com/a-complete-guide-to-calc-in-css/ */
#pre_card_section_full {
    overflow: hidden;
    /* FALLBACK, will look wrong on mobile! */
    /* HACK: we do this to let the video transition element go below slightly */
    /* a reminder that vh is an unreliable unit on mobile browsers */
    height: calc(100vh + 50px);

    @supports (height: calc(100svh + 50px)) {
        height: calc(100svh + 50px);
    }
}

#credits_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#credits_section > * {
    margin: 0;
}

/* https://stackoverflow.com/a/31002364, https://stackoverflow.com/a/75360648 */
#trans_card_1 {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 200px;
    /* This image is almost 4 MiB. We absolutely need the CDN for this one */
    background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/video/webp/fiery_gradient_divider_1920x200_q82_24fps_8s_p_photo_temp.webp");
    background-repeat: repeat;
}

/* Firefox matches this color almost perfectly, but Chromium-based ones do not. */
/* Context : The video renders with different color on Gecko and Chromium. Gecko's output is the most correct one here. */
/* why chrome? */
#card_section {
    background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_entry {
    display: none;
}

.card_entry:target {
    display: flex;
}

/* https://vibrantwebs.medium.com/css-hover-to-affect-other-element-even-if-other-element-is-not-a-child-4f9ccf54bb5c */
body:has(.card_entry:target) #card_notice_sacrificial_lamb {
    display: none;
}

#card_type_selector_bg {
    background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp");
    background-repeat: repeat;
}

#card_section_pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp");
    background-repeat: repeat;
}

#card_type_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* https://stackoverflow.com/a/20327676 */
#card_type_selector > a {
    /* background-color: white; */
    padding: 15px 50px;
    margin: -15px -50px;
}

/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/* 775px is from trial and error */
/* 100% as smaller because we are already vertical, might as well make the most of it */
@media screen and (min-width: 775px) {
    #card_type_selector {
        flex-direction: row;
        max-width: 80%;
    }

    /* https://stackoverflow.com/a/20327676 */
    #card_type_selector > a {
        margin: -15px -50px;
    }
}

@media screen and (max-width: 774px) {
    #card_type_selector {
        flex-direction: column;
        max-width: 100%;
    }

    /* https://stackoverflow.com/a/20327676 */
    #card_type_selector > a {
        margin: -15px 0px;
    }
}

#trans_card_2 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    transform: scaleY(-1.0);
}

/* TODO: tweak later! */
.card_full {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_img {
    max-width: 120px;
    max-height: 240px;
}
