/* https://developer.mozilla.org/en-US/docs/Web/CSS/--* */
/* TODO: is it necessary to ise @supoorts for this one? */
:root {
	--img_2x2: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp");
	/* TODO: we re-encode in AVIF later! */
	--img_button_grey_webp: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/Button_Grey.webp");
	/* This image is almost 4 MiB. We absolutely need the CDN for this one */
	--awebp_fiery_gradient: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/video/webp/fiery_gradient_divider_1920x200_q82_24fps_8s_p_photo_temp.webp");
	--button_transition_time: 0.075s;
	--img_cardback_trinket: url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/CardBack_Trinket.webp");
	--card_backside_vis: 0%;
	--card_frontside_vis: 0%;
	/* to make smooth scrolling work : https://stackoverflow.com/questions/62098093/scroll-behaviour-smooth-not-working-at-all#comment137600798_71685577 */
	scroll-behavior: smooth;
}

/* Firefox matches this color almost perfectly, but Chromium-based ones do not. */
/* Context : The video renders with different color on Gecko and Chromium. Gecko's output is the most correct one here. */
/* why chrome? */
#card_section {
    background-image: var(--img_2x2);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* to make room for expanding cards' transition */
    padding-bottom: 35px;
}

.card_entry {
    display: none;
}

/* TODO: maybe make a warning about a certain CSS keyword not being
supported via @supports? by setting the content of an element to
a message, via content: maybe? */

.card_entry:target {
    display: flex;
    animation-name: anim_flip_reveal;
    animation-duration: 1.25s;
    
}

/* https://vibrantwebs.medium.com/css-hover-to-affect-other-element-even-if-other-element-is-not-a-child-4f9ccf54bb5c */
body:has(.card_entry:target) #card_notice_sacrificial_lamb {
    display: none;
}

#card_type_selector_bg {
    background-image: var(--img_2x2);/* url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp"); */
    background-repeat: repeat;
}

#card_section_pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--img_2x2);/* url("https://cdn.jsdelivr.net/gh/danameisnothing/webfrontends_assets@master/gallery/assets/img/webp/card_bg_2x2.webp"); */
    background-repeat: repeat;
}

#card_type_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* https://stackoverflow.com/a/20327676, https://stackoverflow.com/a/27505936 */
/* FIXME: original background-image on previously-selected button will persist for 0.5 seconds before fading out like normal */
#card_type_selector > a {
    /* background-color: white; */
    padding: 15px 50px;
    text-decoration: none;
    background-image: none;
    /* TODO: don't just support PNG, we re-encode in WebP and AVIF later! */
    background-image: var(--img_button_grey_webp);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size var(--button_transition_time);
    background-size: 0% 100%;
}

#card_type_selector > a:hover {
	background-size: 100% 100%;
}

/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/* 775px is from trial and error */
@media screen and (min-width: 775px) {
    #card_type_selector {
        flex-direction: row;
        max-width: 80%;
    }

    /* https://stackoverflow.com/a/20327676 */
    #card_type_selector > a {
        margin: -15px 0px;
    }
}

/* 100% as smaller because we are already vertical, might as well make the most of it */
@media screen and (max-width: 774px) {
    #card_type_selector {
        flex-direction: column;
        max-width: 100%;
    }
}

#trans_card_2 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    background-image: var(--awebp_fiery_gradient);
    background-repeat: repeat;
    transform: rotate(180deg);
}

@keyframes anim_flip_reveal {
	0% {
		--card_backside_vis: 100%;
		--card_frontside_vis: 0%;
	}
	35% {
		transform: scale(1.25);
	}
	52.5% {
		--card_backside_vis: 0%;
		--card_frontside_vis: 100%;
	}
	70% {
		transform: rotateY(180deg) scale(1.25);
	}
	100% {
		transform: scale(1) rotateY(180deg);
	}
}

/* TODO: tweak later! */
/* FIXME: make this card scale well, with this ratio */
.card_full {
    border-radius: 3px;
    /* width: 180px;
    height: 280px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_entry_backside {
	width: 180px;
	height: 280px;
	background-image: var(--img_cardback_trinket);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	opacity: var(--card_backside_vis);
}

.card_entry_frontside {
	width: 180px;
    height: 280px;
	opacity: var(--card_frontside_vis)
}

.card_img {
    max-width: 150px;
    max-height: 240px;
}
