/* Copied straight from chellenge */
a,
a:visited,
a:hover,
a:active,
a:link {
    color: inherit;
}

#content {
    max-width: 800px;
    border-radius: 3px;
    border: 1px solid #fcfcfc;
    padding: 8px;
}